.odd{
    
    background-color: rgb(255, 100, 100);
    font-family:'Verdana', 'DejaVu Sans', 'sans-serif';
}
#num{
    color: rgb(0, 0, 255);
    font-size: 32px;

}
.three{
    font-size: 24px;
}
#num4{
    background-color: lightgreen;
    font-size: 32px;
    font-weight: bold;
}