.click,.noclick{
    font-size: 32px;
    font-family: Helvetica, 'Times New Roman', sans-serif;

}
.click{
    background-color: aquamarine;
    color: darkblue;
}
.noclick{
    background-color: chartreuse;
}